html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

@font-face {
  font-family: 'myriad';
  src: url(file:///Users/danielopatich1/dev/homework/week2/friday/fonts/myriad.otf); }

* {
  box-sizing: border-box;
  font-family: 'myriad'; }

body {
  background-image: url("https://images.unsplash.com/photo-1450849608880-6f787542c88a?crop=entropy&dpr=2&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1300");
  height: auto;
  background-position: 80% 51.5555555%;
  background-repeat: no-repeat; }

main {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  main::after {
    clear: both;
    content: "";
    display: table; }

#calculator {
  margin-top: 50px;
  width: 100%;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-left: 25.58941%;
  border: 20px solid rgba(28, 37, 83, 0.85);
  height: auto; }
  #calculator:last-child {
    margin-right: 0; }

.top {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .top:last-child {
    margin-right: 0; }
  .top input {
    background: #6A74A2;
    border: none;
    border-left: 1px solid;
    border-right: 1px solid;
    height: 59px;
    width: 25.25%;
    margin-right: -5px;
    padding: 63px 0; }
  .top :hover {
    background: white;
    transition: all ease 0.5s; }
  .top #total {
    background: rgba(180, 94, 84, 0.6);
    width: 75.1%;
    padding: 30px;
    height: auto;
    font-size: 55px; }

#row1 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  #row1:last-child {
    margin-right: 0; }
  #row1 input {
    font-size: 52px;
    padding: 25px 0;
    background: rgba(106, 116, 162, 0.9);
    border: 1px solid;
    border-bottom: none;
    height: 80px;
    width: 25.25%;
    margin-right: -5px; }
  #row1 :hover {
    background: white;
    transition: all ease 0.5s; }

#row2 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  #row2:last-child {
    margin-right: 0; }
  #row2 input {
    font-size: 52px;
    padding: 25px 0;
    background: rgba(106, 116, 162, 0.9);
    border: 1px solid;
    border-bottom: none;
    height: 80px;
    width: 25.25%;
    margin-right: -5px; }
  #row2 :hover {
    background: white;
    transition: all ease 0.5s; }

#row3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  #row3:last-child {
    margin-right: 0; }
  #row3 input {
    font-size: 52px;
    padding: 25px 0;
    background: rgba(106, 116, 162, 0.9);
    border: 1px solid;
    border-bottom: none;
    height: 80px;
    width: 25.25%;
    margin-right: -5px; }
  #row3 :hover {
    background: white;
    transition: all ease 0.5s; }

#row4 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  #row4:last-child {
    margin-right: 0; }
  #row4 input {
    font-size: 52px;
    padding: 25px 0;
    background: rgba(106, 116, 162, 0.9);
    border: 1px solid;
    height: 80px;
    width: 25.25%;
    margin-right: -5px; }
  #row4 :hover {
    background: white;
    transition: all ease 0.5s; }

@media screen and (max-width: 768px) {
  #calculator {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-left: 0%; }
    #calculator:last-child {
      margin-right: 0; } }

#calculator #total {
  width: 75.1%; }

@media screen and (max-width: 480px) {
  #calculator {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-left: 0%;
    margin-top: 0;
    border: 10px solid rgba(28, 37, 83, 0.85); }
    #calculator:last-child {
      margin-right: 0; } }

#calculator input {
  height: 100px; }

#calculator #total {
  width: 75%; }
