html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

@font-face {
  font-family: 'myriad';
  src: url(file:///Users/danielopatich1/dev/homework/week2/friday/fonts/myriad.otf); }

* {
  box-sizing: border-box;
  font-family: 'myriad'; }

main {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  main::after {
    clear: both;
    content: "";
    display: table; }

#calculator {
  display: block;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  background-color: #66AF59;
  height: 350px; }
  #calculator:last-child {
    margin-right: 0; }
  #calculator input {
    background: #64AC58;
    border: solid 1px #fff; }

#total {
  height: 70px;
  font-size: 20px;
  border: 1px solid #ccc;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  width: 74%;
  margin: 0 0; }

#clear {
  height: 70px;
  font-size: 20px;
  border: 1px solid #ccc;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  width: 25%; }

#operators input {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-right: 0;
  height: 70px;
  display: block;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  width: 25%;
  float: right; }
  #operators input:last-child {
    margin-right: 0; }

#numbers input {
  float: left;
  display: block;
  margin-right: 7.42297%;
  width: 73.14426%;
  height: 70px;
  width: 25%;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  margin-right: 0; }
  #numbers input:last-child {
    margin-right: 0; }

#equals {
  float: left;
  display: block;
  margin-right: 7.42297%;
  width: 19.43277%;
  height: 70px;
  font-size: 20px;
  float: right;
  border: 1px solid #ccc;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  width: 25%; }
  #equals:last-child {
    margin-right: 0; }
