@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
// $visual-grid: true;
@import "../bower_components/neat/app/assets/stylesheets/neat";

$mobile: new-breakpoint(max-width 480px);
$between: new-breakpoint(max-width 600px);
$tablet: new-breakpoint(max-width 768px);

@font-face {
  font-family: 'myriad';
  src: url(file:///Users/danielopatich1/dev/homework/week2/friday/fonts/myriad.otf);
}

  * {
    box-sizing: border-box;
    font-family: Gill Sans;
  }

  body {
    background-image: url('https://images.unsplash.com/photo-1450849608880-6f787542c88a?crop=entropy&dpr=2&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1300');
    height: auto;
    background-position: 80% 51.5555555%;
    background-repeat: no-repeat;
  }


  main {
    @include outer-container;
  }

  #calculator {
    margin-top: 50px;
    width: 100%;
    @include span-columns(6);
    @include shift(3);
    border: 20px solid rgba(28, 37, 83, .85);
    height: auto;
  }

  .top {
    @include span-columns(12);
    input {
      -webkit-appearance: none;
      background: #6A74A2;
      border: none;
      border-left: 1px solid;
      border-right: 1px solid;
      height: 59px;
      width: 100.55%;
      /* margin-left: 0; */
      /* margin-right: 0px; */
      /* padding: 0px 0px; */
    }
    :hover {
      background: white;
      transition: all ease 0.5s;
    }
    #total {
      background: rgba(180, 94, 84, .6);
      width: 100.5%;
      padding: 30px;
      height: auto;
      font-size: 55px;
    }
  }

  #row1 {
    @include span-columns(12);
    input {
      -webkit-appearance: none;
      font-size: 52px;
      padding: 25px 0;
      background: rgba(106, 116, 162, .9);
      border: 1px solid;
      border-bottom: none;
      height: 80px;
      width: 25.25%;
      margin-right: -5px;
    }
    :hover {
      background: white;
      transition: all ease 0.5s;
    }
    #seven, #nine {
      border-right: none;
    }
  }

  #row2 {
    @include span-columns(12);
    input {
      -webkit-appearance: none;
      font-size: 52px;
      padding: 25px 0;
      background: rgba(106, 116, 162, .9);
      border: 1px solid;
      border-bottom: none;
      height: 80px;
      width: 25.25%;
      margin-right: -5px;
    }
    :hover {
      background: white;
      transition: all ease 0.5s;
    }
    #four, #six {
      border-right: none;
    }
  }

  #row3 {
    @include span-columns(12);
    input {
      -webkit-appearance: none;
      font-size: 52px;
      padding: 25px 0;
      background: rgba(106, 116, 162, .9);
      border: 1px solid;
      border-bottom: none;
      height: 80px;
      width: 25.25%;
      margin-right: -5px;
    }
    :hover {
      background: white;
      transition: all ease 0.5s;
    }
    #one, #three {
      border-right: none;
    }
  }

  #row4 {
    @include span-columns(12);
    input {
      -webkit-appearance: none;
      font-size: 52px;
      padding: 25px 0;
      background: rgba(106, 116, 162, .9);
      border: 1px solid;
      height: 80px;
      width: 25.25%;
      margin-right: -5px;
    }
    :hover {
      background: white;
      transition: all ease 0.5s;
    }
    #zero, #equals {
      border-right: none;
    }
  }




// TABLET //
#calculator {
  @include media($tablet) {
    @include span-columns(12 of 12);
    @include shift(0);
  }
  input {
    width: 25.20%;
  }
  #total {
    width: 100.5%;
  }
}



// MOBILE //
#calculator {
  @include media($mobile) {
    @include span-columns(12 of 12);
    @include shift(0);
    margin-top: 0;
    border: 10px solid rgba(28, 37, 83, .85);
  }
  .top {
    input {
      width: 100.55%;
    }
  }
  input {
    height: 100px;
  }
  #total {
    width: 100.5%;
  }
}
